/*===============================================================================*/
/*                                                                               */
/*                              RemindMe for OS/2                                */
/*                                                                               */
/*                           Written By Eric A. Wolf                             */
/*                  Copyright (C) 1995 - All Rights Reserved                     */
/*                                                                               */
/* This source code may be used for reference ONLY!  It is provided AS-IS and no */
/* guarantees are made as to its utility, functionality or correctness.  It is   */
/* provided solely as a guide to aid aspiring OS/2 2.x Presentation Manager      */
/* programmers in developing their own PM applications.  No modifications are    */
/* to be made to this code for re-release as a same or different product.  This  */
/* code must be distributed (in its original entirety) with the executable       */
/* portion of this product.                                                      */
/*                                                                               */
/*          -- Please register this shareware product for $10 today --           */
/*                          See documentation for details                        */
/*                                                                               */
/* Written using Borland C++ for OS/2, version 1.0                               */
/*                                                                               */
/*===============================================================================*/
#include "REMINDME.H"

ICON MENUBAR CALENDAR.ICO
ICON TODOLISTICON TODOLIST.ICO

MENU MENUBAR
BEGIN
	SUBMENU MSG038, FILEMENU
	BEGIN
		MENUITEM MSG039, NEWCAL
		MENUITEM SEPARATOR
		MENUITEM MSG040, OPENCAL
		MENUITEM SEPARATOR
		MENUITEM MSG041, SAVECAL
		MENUITEM MSG042, SAVECALAS
		MENUITEM SEPARATOR
		MENUITEM MSG144, PRINT
		MENUITEM MSG142, JUMPTO
		MENUITEM MSG043, ABOUT1
		MENUITEM SEPARATOR
		MENUITEM MSG044, EXIT
	END

	SUBMENU MSG045, 400
	BEGIN
		MENUITEM MSG046, CALOPTIONS
		MENUITEM MSG047, TODOOPTIONS
		MENUITEM SEPARATOR
		MENUITEM MSG048, REMINDEROPTIONS
	END

END

DLGTEMPLATE CALDRAWOPTIONS 
BEGIN
	DIALOG MSG049, 100, 4, 56, 330, 188, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON MSG_OK, DID_OK, 272, 3, 51, 14
		CONTROL MSG050, 50, 20, 174, 94, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG051, USE3DEFFECT, 5, 107, 119, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 52, 38, 158, 17, 18, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 53, 78, 158, 17, 18, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 54, 38, 131, 57, 45, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", LEFTALIGN, 42, 160, 9, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", RIGHTALIGN, 82, 160, 9, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE
		CONTROL "", CENTERALIGN, 62, 147, 9, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE
		CONTROL MSG052, LINESBETWEEN, 5, 85, 122, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 51, 20, 121, 94, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL MSG053, DRAWDAYBORDER, 5, 96, 124, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG054, QUICKREMINDER, 5, 15, 183, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", SAMPLECAL, 142, 57, 181, 114, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "", 101, 140, 55, 185, 118, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL MSG055, DAYSOFWEEK, 5, 50, 127, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG056, ABBREVIATEDAYS, 5, 39, 129, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG057, HIGHLIGHTTODAY, 5, 74, 124, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG058, ABBREVIATEMONTH, 5, 62, 124, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG059, REMINDOLD, 5, 3, 189, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG060, 56, 140, 174, 182, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG061, CHANGECOLORS, 195, 3, 71, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG125, DISPLAYLASTNEXT, 5, 27, 314, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG146, SHOWCLOCK, 234, 40, 89, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

DLGTEMPLATE ABOUT1 
BEGIN
	DIALOG MSG062, 100, 23, 33, 275, 153, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON MSG_OK, DID_OK, 202, 7, 51, 14
		CONTROL MSG007, 100, 8, 130, 261, 17, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "24.Tms Rmn Bold Italic"
PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL VERSION, 101, 176, 118, 92, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG009, 102, 11, 14, 177, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG010, 103, 11, 5, 177, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "", SAMPLECAL, 13, 30, 149, 92, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL MSG137, 105, 172, 91, 97, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL MSG138, 106, 172, 82, 97, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL MSG139, 107, 172, 73, 97, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL MSG140, 108, 172, 64, 97, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL MSG141, 109, 172, 43, 97, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE PICKANEVENT
BEGIN
	DIALOG MSG063, 100, 9, 7, 292, 109, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", CURITEMLIST, 7, 24, 278, 80, WC_LISTBOX, LS_HORZSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON MSG_DONE, DID_OK, 216, 5, 64, 14
		CONTROL MSG064, NEWEVENT, 12, 5, 64, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG065, DELETEEVENT, 80, 5, 64, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL MSG066, MODIFYEVENT, 148, 5, 64, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
	END

END

DLGTEMPLATE TODOLISTOPTIONS 
BEGIN
	DIALOG MSG067, 100, 9, 8, 193, 111, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON MSG_OK, DID_OK, 119, 4, 51, 14
		CONTROL MSG068, SHOWTODOLST, 105, 22, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG069, BCOLOR, 7, 20, 87, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG070, FCOLOR, 7, 4, 87, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG126, 101, 6, 38, 181, 68, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR, 0x0L

		CONTROL MSG127, NOPREFIX, 18, 81, 161, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG128, DATEOFEVENT, 18, 70, 162, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL MSG129, TIMEOFEVENT, 18, 59, 160, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL MSG130, DATEANDTIMEOFEVENT, 18, 48, 161, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
	END

END

DLGTEMPLATE EVENTDLG 
BEGIN
	DIALOG MSG071, 100, 8, 6, 317, 243, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", EVENTTITLE, 71, 215, 238, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", MONTH, 58, 188, 61, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_READONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", DAY, 123, 188, 29, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_READONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", YEAR, 156, 188, 38, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_READONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", HOUR, 248, 187, 29, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", MIN, 280, 187, 28, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTRIGHT | SPBS_PADWITHZEROS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG072, EVERYMONTH, 23, 150, 282, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG073, EVERYYEAR, 23, 139, 283, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG092, 135, 8, 117, 304, 55, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG074, SHOWASTODO, 24, 89, 117, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG075, 119, 148, 90, 116, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "", DAYSADVANCE, 268, 88, 35, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG076, FLASHREMINDER, 24, 54, 74, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG077, 133, 7, 34, 304, 44, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "", BUTTON1, 101, 54, 9, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", BUTTON2, 101, 40, 9, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "", MINBEFORE, 116, 53, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG078, MINBEFORELBL, 168, 55, 68, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "", DAYSBEFORE, 116, 39, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG079, DAYSBEFORELBL, 168, 41, 67, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG080, VISUALLY, 254, 59, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG081, AUDIBLY, 254, 48, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL MSG082, BOTH, 254, 37, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		DEFPUSHBUTTON MSG_OK, DID_OK, 7, 2, 51, 14, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON MSG_CANCEL, DID_CANCEL, 61, 2, 51, 14
		CONTROL MSG083, SELECTSOUNDFILE, 146, 17, 76, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL MSG084, 101, 5, 217, 59, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG085, 103, 14, 190, 41, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG086, 107, 126, 178, 22, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG087, MONTHLABEL, 75, 178, 25, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG088, YEARLABEL, 159, 178, 32, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG089, 113, 251, 177, 22, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG090, 114, 281, 177, 25, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG091, 120, 7, 81, 304, 32, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG093, 102, 10, 182, 45, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG094, 104, 204, 191, 41, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG095, 105, 200, 183, 45, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG096, ITEMDONE, 69, 203, 172, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", SOUNDFILE, 224, 18, 86, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG123, LAUNCHRECORDER, 147, 2, 163, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "", DATETEXT, 6, 231, 305, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", RESCHEDTIME, 23, 124, 32, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG147, 8, 60, 125, 239, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
	END

END

DLGTEMPLATE CHOOSECOLOR
BEGIN
	DIALOG "", 100, 6, 5, 217, 134, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON MSG_OK, DID_OK, 83, 3, 51, 14
		CONTROL "", COLORBOX, 9, 22, 199, 96, WC_VALUESET, VS_COLORINDEX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 8, 0, 4, 5
		CONTROL MSG097, 103, 14, 120, 188, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "", 107, 266, 79, 20, 8, WC_STATIC, SS_FGNDRECT | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE CALCOLORDLG 
BEGIN
	DIALOG MSG098, 100, -51, 17, 407, 184, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON MSG_OK, DID_OK, 346, 4, 51, 14
		CONTROL MSG099, LIGHTCOLOR, 16, 152, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG100, MIDCOLOR, 16, 136, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG101, DARKCOLOR, 125, 152, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG102, TEXTCOLOR, 125, 136, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG133, 105, 7, 24, 232, 40, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG104, QUICKDONE, 271, 34, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG105, QUICKNOTDONE, 16, 77, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG106, 108, 7, 127, 232, 53, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG107, 109, 7, 68, 232, 54, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG108, INCOMPLETEBKG, 125, 93, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG109, INCOMPLETETXT, 16, 93, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG110, COMPLETEBKG, 125, 77, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG111, COMPLETETXT, 7, 5, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 101, 249, 67, 153, 94, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL MSG112, 102, 252, 164, 145, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "", SAMPLECAL, 251, 69, 148, 90, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL MSG103, 103, 245, 24, 155, 40, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG134, OLDBACKCOLOR, 16, 34, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG135, OLDTEXTCOLOR, 125, 34, 104, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END
DLGTEMPLATE REMINDER_DIALOG 
BEGIN
	DIALOG MSG113, 100, 20, 54, 230, 92, FS_SYSMODAL | FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
	BEGIN
		DEFPUSHBUTTON MSG114, MARKDONE, 6, 20, 71, 14
		CONTROL MSG115, REVISEEVENT, 80, 20, 71, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", SNOOZE, 62, 3, 107, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG116, ERASEEVENT, 154, 20, 71, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", REMINDERTEXT, 6, 39, 218, 46, WC_MLE, MLS_BORDER | MLS_READONLY | MLS_WORDWRAP | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

DLGTEMPLATE REMINDOPTIONS 
BEGIN
	DIALOG MSG117, 100, 7, 49, 247, 84, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON MSG_OK, DID_OK, 6, 3, 51, 14
		CONTROL "", NUMSNOOZE, 9, 66, 32, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", NUMREPLAY, 9, 46, 32, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", NUMADVANCE, 9, 26, 32, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG118, 104, 46, 68, 190, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG119, 105, 46, 52, 195, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG120, 106, 46, 32, 187, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG121, 101, 46, 44, 194, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG122, 102, 46, 24, 187, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG131, ASKBEFOREDELETE, 81, 5, 160, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

ACCELTABLE MENUBAR
BEGIN
/*
	VK_F9, TESTFUNCTION, VIRTUALKEY
*/
	VK_F2, SAVECAL, VIRTUALKEY
        VK_F6, PRINT, VIRTUALKEY
        VK_F7, JUMPTO, VIRTUALKEY
        VK_F4, EXIT, VIRTUALKEY, ALT
END

DLGTEMPLATE JUMPTODATE 
BEGIN
	DIALOG MSG148, 100, 7, 5, 125, 49, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON MSG_OK, DID_OK, 11, 2, 51, 14
		PUSHBUTTON MSG_CANCEL, DID_CANCEL, 65, 2, 51, 14
		CONTROL "", MONTH, 10, 30, 61, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_READONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", YEAR, 78, 30, 38, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_READONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG087, MONTHLABEL, 27, 20, 25, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG088, YEARLABEL, 81, 20, 32, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
	END

END


DLGTEMPLATE PRINTDIALOG
BEGIN
	DIALOG MSG149, 100, 7, 6, 158, 134, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON MSG_OK, DID_OK, 27, 3, 51, 14
		PUSHBUTTON MSG_CANCEL, DID_CANCEL, 81, 3, 51, 14
		CONTROL MSG150, PRINTCALENDAR, 8, 48, 139, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG151, 101, 7, 62, 144, 52, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL MSG152, PRTTODAY, 15, 91, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG153, PRTWEEK, 15, 80, 77, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL MSG154, PRTMONTH, 15, 69, 59, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "", WIDTH, 61, 23, 36, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL MSG155, 106, 8, 37, 142, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR, 0x0L

		CONTROL MSG156, PRINTTODO, 8, 117, 139, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

